#full-body {
  background-color: #c9ccd3;
}
.login-wrapper {
  border: 1px solid rgb(148, 142, 142);
  margin: 20% 10%;
  padding: 5px 20px;
  background-color: #dee6ec;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.btn-submit {
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgb(8, 4, 90) 0%,
    rgb(43, 26, 155) 25%,
    rgb(53, 194, 223) 100%
  );
}
.topbox {
  background-color: #f2f2f2;
}
.navbar {
  position: sticky;
  top: 0;
}
.approved-projects {
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
Form input {
  border-radius: 15px;
  background-color: #54a0e7;
  color: black;
  border: 1px solid #7695ad;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.login-head {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: #182628;
  /* text-shadow: 0 0 2px #f00f0f; */
}

.form-label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.loginp {
  margin-top: 10px;
  font-size: small;
}
.loginp a {
  text-decoration: none;
}
.signup-p {
  height: 700px;
  font-size: medium;
}
.full-page {
  margin: 20px 2%;
  font-size: medium;
}

.table {
  background-color: #f2f2f2;
}
.topbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mr-10 {
  margin-right: 30px;
}
.me-auto {
  margin-left: 70px;
}

.active {
  color: rgb(20, 20, 20);
  margin-bottom: -5px;
  text-shadow: 0 0 3px #3f4041;
}
.brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  font-weight: 500;
  /* text-shadow: 0 0 4px #5a83c5; */
}
.brand-head {
  color: #182628;
}
.userlogo {
  margin-right: 7px;
  margin-top: -8px;
  border-radius: 15px;
  padding: 3px;
  background-color: #07295f;
  color: #f3f4f7;
  /* color: rgba(17, 17, 17, 0.9); */
}
.topicon {
  margin-top: -4px;
  margin-right: 5px;
}
.carosal-box {
  /* background-color: #07133399; */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  height: 300px;
  z-index: -2000;
}
.carosal-item {
  color: #cecaca;
  text-align: center;
  margin-top: 100px;
}
.carosal-item h3 {
  color: #faf7f7;
}
.home-wrapper {
  z-index: -2000;
}
.card-wrapper {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: -1000;
}
.card-c {
  z-index: -2000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  background-color: rgba(7, 19, 51, 0.7);
}

.profile {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-alert {
  max-width: 400px;
  width: 70%;
  z-index: 5000;
}
.view-submit {
  border: 2px solid rgb(207, 207, 207, 0.5);
  padding: 20px;
  border-radius: 15px;
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  background-color: #f2f2f2;
}
.view-submit h5 {
  margin-left: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #4a5258;
}
.view-submit p {
  margin-left: 35px;
}
.view-submit button {
  margin-left: 20px;
}
.create-form {
  padding: 30px;
  margin: 20px;
}
.form {
  padding: 10px 20px;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.form-label {
  margin-top: 15px;
}
.page-head {
  margin-top: -40px;
}

.logo-name {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  text-shadow: 0 0 5px #f00f0f;
  margin-top: 15px;
}
.logo-name p {
  margin-top: 5px;
}

@media only screen and (max-width: 500px) {
  .carosal-box {
    height: 180px;
  }
  .carosal-item {
    color: #cecaca;
    text-align: center;
    margin-top: 60px;
    font-size: xx-small;
  }
  .carosal-item h3 {
    font-size: medium;
  }
  .table {
    font-size: xx-small;
    height: 80px;
  }

  .status-icon {
    font-size: x-small;
    color: yellow;
  }
  .profile {
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .view-submit h5 {
    font-size: medium;
  }
  .view-submit p {
    margin-left: 35px;
    font-size: small;
  }
  .full-page {
    font-size: small;
  }
}

/* #6c6fa4 */
